extends layout

block content
  h1= title
  p Please upload a file
  form(method='post',  action='/users/upload',encType="multipart/form-data")
   input(type="file" name="docfile")
   input(type='submit', name='submit')